.card__like-button_is-active {
  background: transparent url('../../../../images/like-active.svg') no-repeat;
}
.like-numbers {
  color:black;
  height: 13px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.card__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}